<div>

    {{!-- <h1>view blogs</h1> --}}

    <div class="columns is-mobile">
       <div class="card column is-three-fifths is-offset-one-fifth">
          <header class="card-header">
            <p class="card-header-title">{{title}}</p>
            <p class="subtitle is-6">Posted by: {{username}} on {{format_date create_date}}</p>
          </header>

            <div class="card-content">
              <p>{{content}}</p>
            </div>

            <div class="card-content"id="addNewComment">
                 <div class="field">
                    <p class="control has-icons-left">
                        <label class="label">Comment</label>
                        <input id="comment" class="input" type="text" placeholder="Type your new comment...">
                    </p>
                  </div>
            </div>

          <div class="buttons">
                <button type="submit" id="submitCommentButton" class="button is-primary ">Comment</button>
          </div>
          
       </div>
    </div>         
   
</div>
 <script src="/js/addComment.js"></script>