<div class="columns is-mobile">
  <div class="card column is-three-fifths is-offset-one-fifth">

    
        <header class="card-header">
              <p class="card-header-title">Create New Blog</p>
        </header>

       <div class="card-content">

            <div class="field">
                <p class="control has-icons-left">
                    <label class="label">Title</label>
                 <input id="title" class="input" type="text" placeholder="post title">
                </p>
            </div>

            <div class="field">
                <p class="control has-icons-left">
                    <label class="label">Content</label>
                    <input id="content" class="input" type="text" placeholder="post content">
                </p>
            </div>
         </div>
            <div class="buttons">
                <button type="submit" id="createBlogButton" class="button is-primary ">Create a New Blog</button>
            </div>
       
       

    </div>
     </div>

    {{!-- {{#each blogs as |blog| }}
    <div class="card">
        <header class="card-header">
          <p class="card-header-title">{{blog.title}}</p>
          <p class="subtitle is-6">Posted by: {{user_id}} on {{create_date}}</p>
        </header>
        <div class="card-content">
           <p>{{blog.content}}</p>
        </div>
       
    </div>
    {{/each}} --}}

    <script src="/js/createNewBlog.js"></script>
    