<div>
   {{!-- {{#each blogs as |blog| }}
    <div class="card">
        <header class="card-header">
          <p class="card-header-title">{{title}}</p>
          <p class="subtitle is-6">Posted by: {{user_id}} on {{create_date}}</p>
        </header>
        <div class="card-content">
           <p>{{blog.content}}</p>
        </div>
       
    </div>
    {{/each}} --}}

<button type="submit" id="createBlogButton" class="button is-primary ">Create a New Blog</button>

</div>

<script src="/js/createNewBlog.js"></script>
