<div class="columns is-mobile">
  <div class="card column is-three-fifths is-offset-one-fifth">
    
      <header class="card-header">
        <p class="card-header-title ">Log In</p>
      </header>
      <form id="login-form" class="card-content">
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input id="username" class="input" type="username" placeholder="User Name">
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input id="password"  class="input" type="password" placeholder="Password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
      </form>
      <div class="buttons ">
        <button type="submit" id="loginButton" class="button is-primary ">Sign In</button>  
      </div>
      <div class="text">
          <div class="content">Not a member? <a href="/signup"><strong class="createAccountLink">Create an account</strong></a></div>
      </div>
    
    </div>
</div>
<script src="/js/login.js"></script>