<div class="columns is-mobile">
  <div class="card column is-three-fifths is-offset-one-fifth">


  <header class="card-header">
    <p class="card-header-title">Sign Up</p>
  </header>
  <div class="card-content">
     <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input id="username"  class="input" type="username" placeholder="User Name">
          <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
          </span>
        </p>
    </div>
   <div class="field">
     <p class="control has-icons-left">
       <input id="password" class="input" type="password" placeholder="Password">
       <span class="icon is-small is-left">
         <i class="fas fa-lock"></i>
       </span>
     </p>
   </div>
  </div>
  <div class="buttons">
     <button type="submit" id="signupButton" class="button is-primary ">Sign Up</button>  
  </div>


</div>
  </div>


</div>





<script src="./js/signup.js"></script>