<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/homeviewblogs.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Tech Blog</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/homeviewblogs">
        Home
      </a>

      <a class="navbar-item" href="/dashboard">
        dashboard
      </a>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/login">
            <strong>log in</strong>
          </a>
          <a id="logout-link" class="button is-light" href="#" >
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
    {{{body}}}
</body>
<script src="/js/logout.js"></script>
</html>